<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/admin/style-adminPanel.css">

</head>

<body>

    <%- include('../partials/header')%>
        <main class="container-content">
            <div class="container-add-product">
                <a href="/admin/create">Nuevo Producto <i class="fas fa-plus"></i></a>
            </div>

            <div class="container-table">
                <table class="table">
                    <tr>
                        <th>id</th>
                        <th>img</th>
                        <th>name</th>
                        <th>actions</th>
                    </tr>
                    <% products.forEach((product) => { %>

                        <tr>

                            <th>
                                <%= product.id %>
                            </th>
                            <th>
                                <img width="50px" src="/images/products/<%= product.images[0].name %>" alt="">
                            </th>
                            <th>
                                <%= product.name %>
                            </th>
                            <th>
                                <div class="container-delete">
                                    <form action="/admin/<%= product.id %>/delete?_method=DELETE" method="POST">
                                        <button class="delete" type="submit">Borrar</button>

                                    </form>
                                </div>
                                <div class="container-editar">
                                    <a href="/admin/<%= product.id %>/edit">Editar</a>
                                </div>
                            </th>
                        </tr>

                        <% }) %>
                </table>

            </div>

        </main>


        <%- include('../partials/footer') %>
</body>

</html>