<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/admin/style-adminPanel.css">

</head>

<body>

    <%- include('../partials/header')%>
        <main class="container-content">
            <h3 class="titulos">Resumen</h3>
            <div class="container-database">
                <div class="container-card">
                    <div>Productos</div>
                    <div>52</div>
                </div>
                <div class="container-card">
                    <div>Categorias</div>
                    <div>52</div>
                </div>
                <div class="container-card">
                    <div>Usuarios</div>
                    <div>52</div>
                </div>
            </div>

            <h3 class="titulos">Cantidad de Productos Por Categoria</h3>
            <div class="container-database">
                <div class="container-card">
                    <div>Productos</div>
                    <div>52</div>
                </div>
                <div class="container-card">
                    <div>Categorias</div>
                    <div>52</div>
                </div>
                <div class="container-card">
                    <div>Usuarios</div>
                    <div>52</div>
                </div>
                <div class="container-card">
                    <div>Productos</div>
                    <div>52</div>
                </div>
                <div class="container-card">
                    <div>Categorias</div>
                    <div>52</div>
                </div>
                <div class="container-card">
                    <div>Usuarios</div>
                    <div>52</div>
                </div>
            </div>

            <div class="container-last-product">
                <h3>Ultimo producto Cargado</h3>
                <hr>
                <div>
                    <div>Memoria Ram</div>
                    <img src="/images/ram2.png" width="200" alt="images">
                </div>

            </div>




            <hr style="margin-bottom: 30px;">

            <div class="container-add-product">
                <a href="/admin/create">Nuevo Producto <i class="fas fa-plus"></i></a>
            </div>

            <div class="container-table">
                <table class="table">
                    <tr>
                        <th>id</th>
                        <th>img</th>
                        <th>name</th>
                        <th>actions</th>
                    </tr>
                    <% products.forEach((product)=> { %>

                        <tr>

                            <th>
                                <%= product.id %>
                            </th>
                            <th>
                                <img width="50px" src="/images/products/<%= product.images[0].name %>" alt="">
                            </th>
                            <th>
                                <%= product.name %>
                            </th>
                            <th>
                                <div class="container-delete">
                                    <form action="/admin/<%= product.id %>/delete?_method=DELETE" method="POST">
                                        <button class="delete" type="submit">Borrar</button>

                                    </form>
                                </div>
                                <div class="container-editar">
                                    <a href="/admin/<%= product.id %>/edit">Editar</a>
                                </div>
                            </th>
                        </tr>

                        <% }) %>
                </table>

            </div>

        </main>


        <%- include('../partials/footer') %>
</body>

</html>