<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/products/style-productCreate.css">
        <script src="/js/productCrate.js"></script>
</head>

<body>

    <%- include('../partials/header')%>
        <main>

            <table>
                <tr>
                    <th>id</th>
                    <th>img</th>
                    <th>name</th>
                    <th>actions</th>
                </tr>
                <% products.forEach((product) => { %>
                    <tr>
                        <th>
                            <%= product.id %>
                        </th>
                        <th>
                            <img width="50px" src="/images/products/<%= product.img1 %>" alt="">

                        </th>
                        <th>
                            <%= product.name %>
                        </th>
                        <th>
                            <form action="/admin/<%= product.id %>/delete?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </th>
                    </tr>
                    <% }) %>
            </table>

        </main>


        <%- include('../partials/footer') %>
</body>

</html>