<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/admin/style-adminForms.css">
        <script src="/js/productCreate.js" defer></script>
</head>

<body>

    <%- include('../partials/header')%>
        <main>


            <form action="/admin/<%= product.id %>/edit?_method=PUT" id="frm" class="form" method="POST" enctype="multipart/form-data">
                <h4>Editar Prodcuto</h4>

                <hr class="line">

                <div>
                    <label for="name">Nombre:</label>
                    <input class="input" name="name" type="text" id="name" value="<%= product.name %> " required>
                </div><br>


                <div>
                    <label for="categoria">Categoria:</label>
                    <select class="categorias" name="category" id="categoria">
                            <% categories.forEach(category => { %>
                             <option class="categorias" value="<%= category.id %>"
                            <% if (product.category.name == category.name) { %>
                                selected
                            <% } %>  
                            ><%= category.name %></option>
                            <% }) %> 
                            
                        </select>
                </div><br>

                <div id="caracteristicas">
                    <input style="display: none;" type="number" name="cantidadInput" id="cantidadElementos" value="1">
                    <button onclick="agregarCampos()" class="containerAddField" type="button" id="btn-add"><i class="fas fa-plus"></i></button>

                    <div id="descripcion">
                        <div id="carac" class="colum">
                            <label class="labelKeyValue" for="caracteristica">Caracteristica: </label>
                            <% function uuidv4() {
                                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                                    var r = Math.random() * 16 | 0,
                                        v = c == 'x' ? r : (r & 0x3 | 0x8);
                                    return v.toString(16);
                                });
                            }%>
                                <% let idValue = [];  %>
                                    <% let contadorCarac = 0; %>
                                        <% product.characteristics.forEach(characteristic => { %>


                                            <% let idCarac = uuidv4() %>
                                                <% idValue.push(uuidv4()) %>

                                                    <div class="containerDeleteField" id="<%= idCarac %>">
                                                        <i onclick="borrarCampo('<%= idCarac %>','<%= idValue[contadorCarac] %>')" class="deleteField fas fa-times"></i>
                                                        <input class="input" value="<%= characteristic.name %>" name="characteristic" id="caracteristica" placeholder="ej: color" required>
                                                    </div>
                                                    <% contadorCarac = contadorCarac + 1; %>
                                                        <%  }); %>

                        </div>

                        <div id="value" class="colum">
                            <label class="labelKeyValue" for="valor">Valor: </label>
                            <% let contadorValue = 0; %>
                                <% product.characteristics.forEach(characteristic => { %>

                                    <input class="input" value="<%= characteristic.value %>" name="value" id="<%= idValue[contadorValue] %>" placeholder="ej: rojo" required>
                                    <% contadorValue = contadorValue + 1; %>
                                        <%  }); %>

                        </div>
                    </div>


                </div><br>




                <div>
                    <label for="image">Imagenes del producto:</label>
                    <p class="textHelp">Si desea reemplazar las imagenes inserte las tres imagenes nuevas.</p>
                    <input type="file" class="input" id="image" name="imagesProduct" multiple>
                </div><br>

                <div>
                    <p>Imagenes actuales:</p>
                    <div class="containerImages">
                        <img class="images" src="/images/products/<%- images.img1 -%>" alt="">
                        <img class="images" src="/images/products/<%- images.img2 -%>" alt="">
                        <img class="images" src="/images/products/<%- images.img3 -%>" alt="">
                    </div>
                </div>



                <div>
                    <label for="precio">Precio:</label>
                    <input class="input" type="number" id="precio" name="price" value="<%= product.price %>" required>
                </div><br>

                <div>
                    <label for="discount">Descuento: </label>
                    <input class="input" type="number" id="discount" name="discount" value="<%= product.discount %>" required>
                </div>
                <br>

                <hr class="line">

                <button class="boton" type="submit">Editar</button>


            </form>
        </main>


        <%- include('../partials/footer') %>
</body>

</html>