<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/admin/style-productEdit.css">
        <script src="/js/productEdit.js"></script>
</head>

<body>

    <%- include('../partials/header')%>
        <main>


            <form id="frm" class="form" action="/products/<%= product.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <h4>Editar Prodcuto</h4>

                <hr class="line">

                <div>
                    <label for="name">Nombre:</label>
                    <input class="input" name="name" type="text" id="name" value="<%= product.name %> " required>
                </div><br>

                <div>
                    <label for="categoria">Categoria:</label>
                    <select class="categorias" name="category" id="categoria" required>
                         
                        <option class="categorias" value="Procesadores"
                        <% if (product.category == 'Procesadores') {%>
                        selected
                        <% } %> 
                        >Procesadores</option>

                        <option class="categorias" value="DiscosRigidos"
                        <% if (product.category == 'DiscosRigidos') {%>
                        selected
                        <% } %> 
                        >Discos Rigidos</option>

                        <option class="categorias" value="Auriculares"
                        <% if (product.category == 'Auriculares') {%>
                        selected
                        <% } %> 
                        >Auriculares</option>

                        <option class="categorias" value="Mouses"
                        <% if (product.category == 'Mouses') {%>
                        selected
                        <% } %> 
                        >Mouses</option>

                        <option class="categorias" value="Teclados"
                        <% if (product.category == 'Teclados') {%>
                        selected
                        <% } %>
                        >Teclados</option>

                        <option class="categorias" value="MemoriasRam"
                        <% if (product.category == 'MemoriasRam') {%>
                        selected
                        <% } %>
                        >Memorias Ram</option>

                        <option class="categorias" value="Monitores"
                        <% if (product.category == 'Monitores') {%>
                        selected
                        <% } %>
                        >Monitores</option>

                        <option class="categorias" value="Coolers"
                        <% if (product.category == 'Coolers') {%>
                        selected
                        <% } %>
                        >Coolers</option>

                        <option class="categorias" value="Fuentes"
                        <% if (product.category == 'Fuentes') {%>
                        selected
                        <% } %>
                        >Fuentes</option>

                        <option class="categorias" value="Mothers"
                        <% if (product.category == 'Mothers') {%>
                        selected
                        <% } %>
                        >Mothers</option>

                        <option class="categorias" value="PlacaVideo"
                        <% if (product.category == 'PlacaVideo') {%>
                        selected
                        <% } %>
                        >Placa de video</option>
                    </select>
                </div><br>

                <div id="caracteristicas">
                    <input style="display: none;" type="number" name="cantidadInput" id="cantidadElementos" value="1">



                    <div id="descripcion">
                        <div id="carac" class="colum">
                            <label class="labelKeyValue" for="caracteristica">Caracteristica: </label>
                            <% Object.entries(characteristic).forEach(function (caracteristica) { %>
                                <input class="input" value="<%= caracteristica[0] %>" name="characteristic" id="caracteristica" placeholder="ej: color">
                                <%  }); %>

                        </div>
                        <div id="value" class="colum">
                            <label class="labelKeyValue" for="valor">Valor: </label>
                            <% Object.entries(characteristic).forEach(function (caracteristica) { %>
                                <input class="input" value="<%= caracteristica[1] %>" name="value" id="valor" placeholder="ej: rojo">
                                <%  }); %>

                        </div>
                    </div>

                </div><br>




                <div>
                    <label for="image">Imagenes del producto:</label>
                    <p class="textHelp">Si desea reemplazar las imagenes inserte las tres imagenes nuevas.</p>
                    <input type="file" class="input" id="image" name="imagesProduct" multiple>
                </div><br>

                <div>
                    <p>Imagenes actuales:</p>
                    <div class="containerImages">
                        <img class="images" src="/images/products/<%- product.img1 -%>" alt="">
                        <img class="images" src="/images/products/<%- product.img2 -%>" alt="">
                        <img class="images" src="/images/products/<%- product.img3 -%>" alt="">
                    </div>
                </div>



                <div>
                    <label for="precio">Precio:</label>
                    <input class="input" type="number" id="precio" name="price" value="<%= product.price %>" required>
                </div><br>

                <div>
                    <label for="discount">Descuento: </label>
                    <input class="input" type="number" id="discount" name="discount" value="<%= product.discount %>" required>
                </div>
                <br>

                <hr class="line">

                <button class="boton" type="submit">Editar</button>


            </form>
        </main>


        <%- include('../partials/footer') %>
</body>

</html>