<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/products/style-productEdit.css">
        <script src="/js/productEdit.js"></script>
</head>

<body>

    <%- include('../partials/header')%>
        <main>


            <form id="frm" action="/products/<%= product.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <h4>Agregar producto:</h4>
                <div>
                    <label for="name">Nombre:</label>
                    <input class="input" name="name" type="text" id="name" value="<%= product.nombre %> " required>
                </div><br>

                <div>
                    <label for="categoria">Categoria:</label>
                    <select class="categorias" name="category" id="categoria" required>
                         
                        <option class="categorias" value="Procesadores"
                        <% if (product.categoria == 'Procesadores') {%>
                        selected
                        <% } %> 
                        >Procesadores</option>

                        <option class="categorias" value="DiscosRigidos"
                        <% if (product.categoria == 'DiscosRigidos') {%>
                        selected
                        <% } %> 
                        >Discos Rigidos</option>

                        <option class="categorias" value="Auriculares"
                        <% if (product.categoria == 'Auriculares') {%>
                        selected
                        <% } %> 
                        >Auriculares</option>

                        <option class="categorias" value="Mouses"
                        <% if (product.categoria == 'Mouses') {%>
                        selected
                        <% } %> 
                        >Mouses</option>

                        <option class="categorias" value="Teclados"
                        <% if (product.categoria == 'Teclados') {%>
                        selected
                        <% } %>
                        >Teclados</option>

                        <option class="categorias" value="MemoriasRam"
                        <% if (product.categoria == 'MemoriasRam') {%>
                        selected
                        <% } %>
                        >Memorias Ram</option>

                        <option class="categorias" value="Monitores"
                        <% if (product.categoria == 'Monitores') {%>
                        selected
                        <% } %>
                        >Monitores</option>

                        <option class="categorias" value="Coolers"
                        <% if (product.categoria == 'Coolers') {%>
                        selected
                        <% } %>
                        >Coolers</option>

                        <option class="categorias" value="Fuentes"
                        <% if (product.categoria == 'Fuentes') {%>
                        selected
                        <% } %>
                        >Fuentes</option>

                        <option class="categorias" value="Mothers"
                        <% if (product.categoria == 'Mothers') {%>
                        selected
                        <% } %>
                        >Mothers</option>

                        <option class="categorias" value="PlacaVideo"
                        <% if (product.categoria == 'PlacaVideo') {%>
                        selected
                        <% } %>
                        >Placa de video</option>
                    </select>
                </div><br>

                <div id="caracteristicas">
                    <input type="number" name="cantidadInput" id="cantidadElementos" value="1">
                    <label for="caracteristica">Caracteristica: </label>
                    <label for="valor">Valor: </label>
                    <br>
                    <div>
                        <div id="descripcion">
                            <% Object.entries(caracteristicas).forEach(function (caracteristica) { %>

                                <div>
                                    <input class="input" name="characteristic" value="<%= caracteristica[0] %> " id="caracteristica" placeholder="ej: color" required>
                                    <input class="input" name="value" value="<%= caracteristica[1] %> " id="valor" placeholder="ej: rojo" required>
                                </div>

                                <%  }); %>
                        </div>
                    </div>


                </div><br>

                <div>
                    <label for="image">Imagenes del producto:</label>
                    <p>Si desea editar las imagenes inserte las tres imagenes nuevas.</p>
                    <input type="file" name="imagesProduct" multiple>
                </div>

                <p>Imagenes actuales:</p>
                <div>
                    <img src="/images/products/<%- product.img1 -%>" width="150px" alt="">
                    <img src="/images/products/<%- product.img2 -%>" width="150px" alt="">
                    <img src="/images/products/<%- product.img3 -%>" width="150px" alt="">
                </div>


                <div>
                    <label for="precio">Precio: $</label>
                    <input class="input" type="number" id="precio" name="price" required value="<%= product.precio %>">
                </div><br>


                <button class="boton" type="submit">Editar</button>


            </form>
        </main>


        <%- include('../partials/footer') %>
</body>

</html>