<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') -%>
        <script src="/js/index.js" defer></script>
        <link rel="stylesheet" href="/css/style-index.css">

</head>



<body>
    <%- include('./partials/header') -%>
        <main>
            <div class="container-slider">
                <div class="slider">
                    <div class="slides">

                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">

                        <div class="slide first">
                            <img src="/images/mouse.png" alt="mouse">
                        </div>
                        <div class="slide">
                            <img src="/images/teclado.png" alt="mouse">
                        </div>
                        <div class="slide">
                            <img src="/images/auriculares.png" alt="mouse">
                        </div>

                    </div>
                    <div class="nav-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                    </div>
                </div>

            </div>

            <div class="contenedor-envio-pago">
                <div class="container-section-envio-pago">
                    <i class="fas fa-credit-card icono-envio-pago"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                </div>
                <hr>
                <div class="container-section-envio-pago">
                    <i class="fas fa-gift icono-envio-pago"></i>
                    <h5>Envío gratis desde $ 25.000</h5>
                </div>
                <hr>
                <div class="container-section-envio-pago">
                    <i class="fas fa-user-shield icono-envio-pago"></i>
                    <h5>Seguridad, de principio a fin</h5>
                </div>
                <hr>
                <div class="container-section-envio-pago">
                    <i class="fab fa-bitcoin icono-envio-pago"></i>
                    <h5>Todo lo que necesitas para la mineria de criptos</h5>
                </div>
            </div>

            <div class="container-productos-banner">

                <section class="container-productos">
                    <h4 class="titulares-productos">Productos Destacados</h4>
                    <div class="container-all-articles">
                        <% products.forEach(function(product) {%>
                            <%- include('./partials/productItem', {id: product.id, name: product.name, price: product.price,discount:product.discount, img1: product.images[2].name}) -%>

                                <% }) %>
                    </div>




                    <h4 class="titulares-productos">Ofertas</h4>
                    <div class="container-all-articles">
                        <% products.forEach(function(product) {%>
                            <%- include('./partials/productItem', {id: product.id, name: product.name, price: product.price,discount:product.discount, img1: product.images[2].name}) -%>


                                <% }) %>
                    </div>

                </section>
                <!--
                <div class="publicidades">
                    <div class="container-titulo-publicidad">
                        <h3>Ellos compran en nuestra tienda, qué esperas vos?</h3>
                        <div class="container-slider-publicidades">
                            <div class="slider-publicidades">
                                <div class="slides-publicidades">
                                    <input type="radio" name="radio-btn-publicidades" id="radio-publicidades1">
                                    <input type="radio" name="radio-btn-publicidades" id="radio-publicidades2">
                                    <input type="radio" name="radio-btn-publicidades" id="radio-publicidades3">
                                    <div class="slide-publicidades first-publicidades">
                                        <a href="https://v3.antpool.com/home"><img src="/images/sponsors/antpool.png" alt="mouse"></a>
                                    </div>
                                    <div class="slide-publicidades">
                                        <a href="https://bitfury.com/"><img src="/images/sponsors/bitfury.svg" alt="mouse"></a>
                                    </div>
                                    <div class="slide-publicidades">
                                        <a href="https://www.f2pool.com/"><img src="/images/sponsors/f2pool.png" alt="mouse"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                -->

            </div>

        </main>

        <%- include('./partials/footer') -%>

</body>

</html>