<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/style-edit.css">
        <script src="/js/register.js" defer></script>
</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <div class="container-form">
                <form action="/users/<%= locals.user.id %>/changePassword?_method=PUT" class="form" method="POST" id="formulario">
                    <h4>Cambiar contraseña</h4>
                    <hr class="line">
                    <% if (locals.errors) { %>
                        <div>
                            <i class="fas fa-exclamation-triangle"></i><span>La contraseña no es correcta</span>
                        </div>
                        <% } %>

                            <div>
                                <label for="oldPassword">Anterior contraseña:</label>
                                <input class="input" type="password" id="oldPassword" name="oldPassword" placeholder="Introduzca aquí su anterior contraseña" required>
                            </div><br>
                            <div>
                                <label for="password">Nueva Contraseña:</label> <br> <span style="display: none;" class="validation-password">La contraseña debe tener como mínimo 8 caracteres</span>
                                <div class="containerInput">
                                    <input class="input" minlength="8" maxlength="20" type="password" id="password" name="password" placeholder="Password" required>
                                    <span class="error">
                                <% if (locals.errors && locals.errors.password) { %>
                                    <%= locals.errors.password.msg %> 
                                <% } %>
                            </span>
                                    <i id="iconoConfirmPasswordError" class="fas fa-times-circle iconoConfirmPasswordError"></i>
                                    <i id="iconoConfirmPasswordCheck" class="fas fa-check-circle iconoConfirmPasswordCheck"></i>
                                </div>

                            </div><br>

                            <div>
                                <label for="confirmPassword">Confirme su nueva contraseña:</label>
                                <div class="containerInput">
                                    <input class="input" type="password" id="confirmPassword" name="confirmar" placeholder="Confirm your Password" required>
                                    <i id="iconoConfirmPasswordError2" class="fas fa-times-circle iconoConfirmPasswordError"></i>
                                    <i id="iconoConfirmPasswordCheck2" class="fas fa-check-circle iconoConfirmPasswordCheck"></i>
                                </div>
                            </div><br>








                            <button class="boton" type="submit">Cambiar contraseña</button>
                </form>
            </div>
        </main>
        <%- include('../partials/footer') -%>
</body>

</html>