<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/users/style-edit.css">

</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <div class="container-form">
                <form action="/users/<%= user.id %>/edit/?_method=PUT" class="form" method="POST" enctype="multipart/form-data" id="formulario">
                    <h4>Edita tu cuenta</h4>
                    <hr class="line">
                    <div>
                        <label for="name">Nombre:</label>
                        <input class="input" type="text" id="name" name="name" placeholder="Introduce aquí tu nuevo nombre" value="<%= user.name %>" required>
                    </div><br>

                    <div>
                        <label for="lastname">Apellido:</label>
                        <input class="input" type="text" id="lastname" name="lastName" placeholder="Introduce aquí tu nuevo apellido" value="<%= user.lastName %>" required>
                    </div><br>

                    <div>
                        <label for="email">E-mail:</label>
                        <input class="input" type="email" id="email" name="email" placeholder="Introduce aquí tu nuevo E-mail" value="<%= user.email %>" required>
                    </div><br>

                    <div>
                        <label for="phone">Teléfono:</label>
                        <input class="input" type="tel" id="phone" name="phone" placeholder="Ej: +54 9 11 4545-4545" value="<%= user.phone %>" required>
                    </div><br>
                    <div>
                        <label for="oldPassword">Anterior contraseña</label>
                        <input class="input" type="password" id="oldPassword" name="oldPassword" placeholder="Introduce aquí tu anterior contraseña" required>
                    </div><br>
                    <div>
                        <label for="newPassword">Nueva contraseña</label>
                        <input class="input" type="password" id="newPassword" name="newPassword" placeholder="Introduce aquí tu nueva contraseña" required>
                    </div><br>

                    <div>
                        <p>Imagen de perfil</p>
                        <img src="/images/users/<%= user.image %> " width="100px" alt=""><br><br>
                        <label for="img_user">Cambiar imagen:</label>
                        <input class="input" type="file" name="image" id="img_user">
                    </div><br>

                    <button class="boton" type="submit">Actualizar perfil</button>
                </form>
            </div>
        </main>
        <%- include('../partials/footer') -%>
</body>

</html>