<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/products/style-products.css">
</head>

<body>
    <%- include('../partials/header') -%>
        <main>

            <div class="container-productos-filtro">


                <section class="container-productos">
                    <h4 class="titulares-productos">Mouses</h4>
                    <div class="container-all-articles">
                        <% productos.forEach(function(producto) {%>
                            <%- include('../partials/productItem', {id: producto.id, nombre: producto.nombre, precio: producto.precio, imagen: producto.imagen}) -%>
                                <% }) %>
                    </div>
                    <h4 class="titulares-productos">Monitores</h4>
                    <div class="container-all-articles">
                        <% productos.forEach(function(producto) {%>
                            <%- include('../partials/productItem', {id: producto.id, nombre: producto.nombre, precio: producto.precio, imagen: producto.imagen}) -%>
                                <% }) %>
                    </div>

                </section>

            </div>

        </main>

        <%- include('../partials/footer') -%>

</body>

</html>