<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/products/style-productDetail.css">
        <script src="/js/productDetail.js"></script>
</head>

<body>
    <%- include('../partials/header')%>
        <main>

            <div class="product-img">
                <div class="container-images-product">
                    <article class="articulo">
                        <img src="/images/products/<%- producto.img1 -%>" id="img1" alt="Imagen grande" class="img-grande mostrar">
                        <img src="/images/products/<%- producto.img2 -%>" id="img2" alt="Imagen grande" class="img-grande">
                        <img src="/images/products/<%- producto.img3 -%>" id="img3" alt="Imagen grande" class="img-grande">
                    </article>
                    <div class="display-lateral">
                        <img src="/images/products/<%- producto.img1 -%>" onclick="showImg(1)" alt="Imagen chica" class="img-reducida">
                        <img src="/images/products/<%- producto.img2 -%>" onclick="showImg(2)" alt="Imagen chica" class="img-reducida">
                        <img src="/images/products/<%- producto.img3 -%>" onclick="showImg(3)" alt="Imagen chica" class="img-reducida">
                    </div>
                </div>
                <div class="todo">
                    <p class="titulo-producto">
                        <%= producto.name %>
                    </p><br>
                    <div class="product-caract"><br>
                        <div class="texto">
                            <%= producto.category %> /
                                <%= producto.name %>
                        </div><br>
                        <div class="texto">Hay Stock/Envió gratis/Garantía de 6 meses</div><br>
                        <div class="texto">
                            Hasta 6 Cuotas sin interes</div><br>
                        <span class="span-price"><div class="text-price">
                            $ <%= producto.price %>
                        </div></span>

                        <div class="span">

                            <button type="submit" type="button" class="boton-comprar">Comprar</button>
                            <i class="fas fa-shopping-cart carrito"></i>
                        </div><br>
                        <div>

                            <form action="/products/<%= producto.id %>/delete?_method=DELETE" method="POST">
                                <button type="submit">ELIMINAR PRODCUTO</button>
                            </form>

                            <form action="/products/<%= producto.id %>/edit" method="GET">
                                <button type="submit">EDITAR PRODCUTO</button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

            <div class="tab boton-tab">
                <input id="tab-1" type="checkbox">
                <label for="tab-1">Caracteristicas Principales</label>
                <div class="tab-content">
                    <% Object.entries(caracteristicas).forEach(function (characteristic) { %>
                        <p>
                            <%= characteristic[0] %> :
                                <%= characteristic[1] %>
                        </p>
                        <% }) %>

                </div>
            </div>
        </main><br>

        <%- include('../partials/footer') %>
</body>

</html>